.boite{
	margin:1%;
	display: flex;
	justify-content: center;
}

.h3{
	margin: 2%;
	flex:1;
    /* position: relative;
    top: 70px;
	padding:20px; */

 }

.h4{
	margin: 2%;
    /* position: relative;
    padding:20px;
    left:500px;
    bottom: 72px; */
 } 


input{
	background-color: #45a049;
 	border: none;
 	color: white;
 	padding: 15px 32px;
 	height: 100px;
 	width: 250px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	cursor: pointer;
 	font-family: monospace;
 	border-radius: 4px;
 	transition : 0.4s;

}
input:hover{
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
    background-color: #45a049 ; 
    color:white;
    transform: scale(1.15);

}
/*D38251
4D1919*/