h1 {
color:gray;
}

h2 {
color:gray;
}

body {
background-image: url("./../img/bg.jpg");
background-attachment:fixed; 
background-size:cover; 
}

footer {
    position: 'absolute';
    bottom: 20px;
}