.page-content2 {
	
	display: grid;
	padding:30px;
  }

.boitePrincipale {
	background-color: rgba(255,255,255,0.4);
	
}
.flex-container{
	display: flex;
  justify-content: center;
} 

.boite {
	background-color: rgba(255,255,255,0.4);
	padding:1px;
	margin: 5%;
	float:left;
}

#accueil-header {
	background-color:rgba(255,255,255,0.4);
	height:50px;
	padding-top:1px;
	padding-bottom:20px;
	text-align: center;
	font-size:25px;
}

.cafetiere-header{
	background-color:rgba(255,255,255,0.4);
	height:20px;
	padding-top:1px;
	padding-bottom:20px;
	text-align: center;
	font-size:15px;
}

.Recap{
	padding-left:5%;
	
}
.InfoRecap {
	padding-right:200px;
}


button{
	font-size:10px;
	color:white;
	background-color: green;
	border: 2px;
	border-radius: 15px;
	padding: 1%;
	margin-top: 1%;
	transition-duration: 0.4s;
	height: 40px;
	
}

button:hover {
	
	/* border-radius: 15px; */
    /*padding: 5px;*/
    /* font-family:monospace ; */
    background-color: white ; 
    color:#45a049;

}
tr{
	text-align: left;
}
th{
	margin-left:10%;
	margin-right:10%;
}
td{
	padding-left:5%;
}
