.boitePrincipale {
	padding-top: 10px;
	background-color: rgba(255,255,255,0.4);
	
}
.flex-container{
	display: flex;
  justify-content: center;
} 

.boite {
	background-color: rgba(255,255,255,0.4);
	padding:1px;
	margin: 5%; 
	float:left;
	flex:1;
}

#accueil-header {
	background-color:rgba(255,255,255,0.4);
	height:50px;
	padding-top:1px;
	padding-bottom:20px;
	text-align: center;
	font-size:25px;
}

.cafetiere-header{
	background-color:rgba(255,255,255,0.4);
	height:20px;
	padding-top:1px;
	padding-bottom:20px;
	text-align: center;
	font-size:15px;
}

.Recap{
	padding-left:5%;
	padding-right:5%;
	padding-bottom: 5%;
	
}
.InfoRecap {
	padding-right:200px;
}

/*Bouton commander un café*/
button{
	font-size:10px;
	color:white;
	background-color: green;
	border: 2px;
	border-radius: 15px;
	padding: 1%;
	transition-duration: 0.4s;
	height: 40px;
	margin:5%;
	
}
button:hover {
    background-color: white ; 
    color:#45a049;
}

tr{
	text-align: left;
}
td{

	text-align: center;
}

/* Switch button */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
	height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
} 

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  /* -webkit-transition: .4s;
  transition: .4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px; 
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
} 

input:focus + .slider {
  box-shadow: 0 0 0px green;
} 

 input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
} 

.slider.round {
  border-radius: 34px;
} 

.slider.round:before {
  border-radius: 50%;
}