p.p {
    color: black;   
    font-family:monospace;
    font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 
}
div.box{
    align-items: center;
    display: flex;
    justify-content: center;
}

input{
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
    background-color: #45a049; 
    color:white;
    outline: none;
    cursor: pointer;
    transition:0.4s;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

input:hover{
    border: none;
    border-radius: 2px;
    padding: 5px;
    font-family: monospace;
    font-size: 1em;
    background-color: white; 
    color:#45a049
   

}







div.boite1{
    padding: 20px;
    background-image: url(./img/Appartement_Paris.jpg);
    background-size: cover;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #5C5C5C;
}


div.boite2{
    padding: 20px;
    background-image: url(./img/Maison_Chantilly.jpg);
    background-size: cover;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #5C5C5C;
}



div.boite3{
    padding: 20px;
    background-image: url(./img/Châlet_Avoriaz.jpg);
    background-size: cover;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #5C5C5C;
}


div.boite4{
    padding: 20px;
    background-image: url(./img/Maison_Biarritz.jpg);
    background-size: cover;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #5C5C5C;
}

