.boitePrincipale {
	background-color: rgba(255,255,255,0.4);
	
}
.flex-container{
	display: flex;
	justify-content: center;
} 

.boite {
	background-color: rgba(255,255,255,0.4);
	padding:1px;
	margin: 5%; 
	float:left;
	flex:1;
}

#accueil-header {
	background-color:rgba(255,255,255,0.4);
	height:auto;
	padding:2%;
	vertical-align: center;
	text-align: center;
	font-size:25px;
}

.cafetiere-header{
	background-color:rgba(255,255,255,0.4);
	height:20px;
	text-align: center;
	font-size:15px;
	padding-bottom: 1%;
	padding-top:1%;
}

.Recap{
	padding-left:5%;
	padding-right:5%;
	padding-bottom: 5%;
	
}
.InfoRecap {
	padding-right:200px;
}

/*Bouton commander un café*/
button{
	font-size:10px;
	color:white;
	background-color: green;
	border: 2px;
	border-radius: 15px;
	padding: 1%;
	transition-duration: 0.4s;
	height: 40px;
	margin:5%;
	
}
button:hover {
    background-color: white ; 
    color:#45a049;
}

tr{
	text-align: left;
}
td{

	text-align: center;
}
